## Introduction

In this Jupyter notebook we want to scrap the csv example on cars in the Wikipedia page and save the resulting output in the local folder.

### Install BeautifulSoup 4.0

If the library is not yet installed in your computer, please run the following codes.

In [2]:
pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in /Users/kuanjiaen/anaconda3/lib/python3.11/site-packages (4.12.2)
Requirement already satisfied: soupsieve>1.2 in /Users/kuanjiaen/anaconda3/lib/python3.11/site-packages (from beautifulsoup4) (2.4)
Note: you may need to restart the kernel to use updated packages.

### Load the library

_BeautifulSoup_  is for html parsing, _requests_ is for accessing the webpage.

In [1]:
from bs4 import BeautifulSoup
import requests

## Get the csv example

Load in the html
Request to visit the website, and get the entire webpage, store in "web_html"

In [3]:
web_html = requests.get("https://en.wikipedia.org/wiki/Comma-separated_values")
soup = BeautifulSoup(web_html.text, 'html.parser')

Get the csv example under the header "Example" 
First, locate the "id" with the "Example"

In [6]:
section = soup.find(id='Example')
data = section.findNext('pre').text
data

'Year,Make,Model,Description,Price\n1997,Ford,E350,"ac, abs, moon",3000.00\n1999,Chevy,"Venture ""Extended Edition""","",4900.00\n1999,Chevy,"Venture ""Extended Edition, Very Large""","",5000.00\n1996,Jeep,Grand Cherokee,"MUST SELL!\nair, moon roof, loaded",4799.00\n'

## Save the csv example into a csv file

In [7]:
f = open('car.csv','w')
f.write(data)
f.close()

Reload the csv data from the file to make sure the data was saved properly

In [9]:
import pandas as pd
pd.read_csv('car.csv')

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!\nair, moon roof, loaded",4799.0